

.nav-links  {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links .nav-item {
  color: cyan;
  text-decoration: none;
}
a:hover {
  color: #8A00C4;
}

.active {
  color: #00FFFF;
  font-weight: 900;

};

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
