:root .nav-links {
  color: #0dcaf0;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-item {
  color: #0dcaf0;
  text-decoration: none;
}

.nav-item:hover {
  box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.6);
  transform: scale(1.05);
  color: #0dcaf0;
}

/* .welcome {
        background-image: url('/images/welcome.png');  
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: cyan;
        font-size: 2rem;
} */
@media only screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    color: #0dcaf0;
  }

  .nav-item:hover {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.6);
    transform: scale(1.05);
    color: #0dcaf0;
  }

  /* .welcome {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 200px;

  } */
}